span {
    color: black;
    border-radius: 10px;
}
pre {
    color: black;
    border-radius: 10px;
    background-color: turquoise;
    border-style: groove;
    width: 100%;
}


span::selection {
    background:  rgb(180, 155, 30); /* WebKit/Blink Browsers */
}

span::-moz-selection {
    background:   rgb(180, 155, 30); /* Gecko Browsers */
}